<div class="pageHeader">
      <form onsubmit="return navTabSearch(this);" action="/system/menu/list"  method="post">
             <div class="searchBar">
                    <table class="searchContent">
                        <tr>
                          <td>父菜单id
                            <input name="email" type="text" id="parentId" value="${parentId!}"/>&nbsp;
                         </td>
                         <td>菜单级别
                           <select class="form-control first-label " id="level" class="combox"  name="level" >
                             <option value="">请选择</option>
		                     <option value="1" <#if level?? && (level=='1')>selected="selected"</#if>>一级菜单</option>
		                     <option value="2" <#if level?? && (level=='2')>selected="selected"</#if>>二级菜单</option>
		                     <option value="3" <#if level?? && (level=='3')>selected="selected"</#if>>三级菜单</option>
		                     <option value="4" <#if level?? && (level=='4')>selected="selected"</#if>>页面功能</option>
		                 </select>
                         </td>
                          <td>菜单名称
                            <input name="menuName" type="text" id="menuName"  value="${menuName!}"/>&nbsp;
                         </td>
                        </table>
                         <div class="subBar">
                                <ul>
                                    <li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
                                </ul>
                           </div>
             </div>
      </form>
</div>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
             <li><a class="add" href="/system/menu/add" target="dialog" rel="dlg_page8"><span>新增菜单</span></a></li>
             <li><a class="edit" href="/system/menu/change?id={sid_user}" target="dialog" rel="dlg_page8"><span>修改信息</span></a></li>
             <li><a class="edit" href="/system/menu/addMenu?id={sid_user}" target="dialog" rel="dlg_page8"><span>添加子菜单</span></a></li>
             <li><a class="delete" href="/system/menu/delete?id={sid_user}" target="ajaxTodo" title="确定要失效吗?"><span>删除</span></a></li>
             <li><a class="edit" href="/system/menu/effective?id={sid_user}" target="ajaxTodo" title="确定要失效吗?"><span>生效</span></a></li>
             <li><a class="delete" href="/system/menu/invalid?id={sid_user}" target="ajaxTodo" title="确定要生效吗?"><span>失效</span></a></li>
        </ul>
    </div>
    <table class="table" width="100%" layoutH="138">
                   <thead>
                    <tr>
                        <th>id</th>
                        <th>菜单名</th>
                        <th>菜单url</th>
                        <th>菜单状态</th>
                        <th>菜单级别</th>
                        <th>父菜单</th>
                        <th>创建时间</th>
                        <th>更新时间</th>
                    </tr>
                   </thead>
                  <tbody>
                       <#if menus?exists>
                       <#list menus as model>
                          <tr target="sid_user" rel= "${model.id}" >
                             <td>${model.id}</td>
                             <td>${model.menuName}</td>
                             <td>${model.menuUrl}</td>
                             <td>${model.status.desc}</td>
                             <td>${model.level}</td>
                             <td>${model.parentId!}</td>
                             <td>${model.createDate?string("yyyy-MM-dd HH:mm:ss")}</td>
                             <td>${model.updateDate?string("yyyy-MM-dd HH:mm:ss")}</td>
                          </tr>
                           </#list>
                        </#if>
                    </tbody>
         </table>
 </div>