<div class="pageContent">
    <form method="post" action="/changePassword" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
        <div class="pageFormContent" layoutH="56">
        <input type="hidden" value="$!parentId" name="parentId">
            <p>
                <label>之前的密码：</label>
                <input name="password" class="required alphanumeric" minlength="5" maxlength="30"  class="required"  type="password"  value="" alt="请输旧密码"/>
            </p>
            <p>
                <label>新密码：</label>
                <input name="newPassword" id="newPassword" class="required alphanumeric" minlength="6" maxlength="30" type="password" value="" alt="新密码"/>
            </p>
            <p>
                <label>重复密码：</label>
                 <input name="repeatPassword" class="required" equalto="#newPassword" type="text" size="30" value="" alt="请重复输入密码"/>

            </p>
        </div>
        <div class="formBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
                <li>
                    <div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
                </li>
            </ul>
        </div>
    </form>
</div>
