<div class="pageContent">
    <form method="post" action="/system/user/changePassword" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
        <div class="pageFormContent" layoutH="56">
          <input type="hidden" name="id" value="${id}">
            <p>
                <label>姓名：</label>
                <input name="userName" readonly="readonly" type="text" size="30" value="${user.userName}" alt="请输入姓名"/>
            </p>
            <p>
                <label>邮箱：</label>
                <input name="email" readonly="readonly" type="text"  value="${user.email}"  size="30" value="" alt="请输入邮箱"/>
            </p>
            <p>
                <label>电话号码：</label>
                 <input name="mobile" readonly="readonly" type="text" value="${user.mobile}" size="30" value="" alt="请输入电话"/>
            </p>
            <p>
                <label>新密码：</label>
                <input name="password" class="required" type="text" size="30" value="" alt="请输入默认密码"/>
            </p>
        </div>
        <div class="formBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
                <li>
                    <div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
                </li>
            </ul>
        </div>
    </form>
</div>
